<div class="border-b-4 pb-7">
  <h1 class="text-7xl text-center mt-7">Wordle</h1>
  <div>
    <div class="flex items-center justify-center flex-col mt-6">
      <ul class="flex gap-8 text-2xl">
        <a href="/game">
          <li>Game</li>
        </a>
        <a href="/information">
          <li>Information</li>
        </a>

        <a href="/highscore">
          <li>Highscore list</li>
        </a>
      </ul>
    </div>
  </div>
</div>
